
 <div class = "bootstrap-wrapper">
    <div class ="container">
        <div class ="row">
            <div class = "col-md-6 offset-md-3" class="container text-center">
            <div>
              <img src = "../../../assets/Login Logo.jfif" alt="loading..." width="100" height="100"/>
            </div>
                <h1 class = "text-center">RoomType</h1>
                 <mat-card>
                <form (ngSubmit)="formSubmit() ">
                   <mat-form-field  class = "full-width"appearance="outline">
                    <mat-label>roomTypeName</mat-label>
                    <input required 
                    [(ngModel)] = "roomtype.roomTypeName" name="roomTypeName"
                    matInput placeholder="roomTypeName*">
                    <mat-hint>Hospital Name Should Be Unique</mat-hint>
                    </mat-form-field>
                    <br>
                    <mat-form-field  class = "full-width"appearance="outline">
                        <mat-label>pricePerDay</mat-label>
                        <input required 
                        [(ngModel)] = "roomtype.pricePerDay" name="pricePerDay"
                        matInput placeholder="pricePerDay*">
                        <mat-hint>Address Name Should Be Unique</mat-hint>
                    </mat-form-field>
                      <div class = "container text-center">
                          <button type = "submit" mat-raised-button color="warn">Add</button>
                            <input  type="reset" value="Reset">
                        </div>
                          <!-- <button style = "margin-left:20px;"mat-raised-button color="primary">Clear</button>  -->
                </form>
              </mat-card>