<h1 class = "text-center">My Status Details</h1>
<table class="table">
    <thead>
        <tr>
            <th style="width: 10%"> Patient Id </th>
            <th style="width: 20%"> Patient Name </th>
            <th style="width: 20%"> Allergy Name </th>
            <th style="width: 20%"> Allergy Type </th>
            <th style="width: 20%"> Hospital Name </th>
            <th style="width: 20%"> Hospital Address</th>
            <th style="width: 20%"> Hospital Charges</th>
            <th style="width: 20%"> Disease Name</th>
            <th style="width: 20%"> Tablet Name</th>
            <th style="width: 20%"> Tablet Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{patientHistory.patientAllergyHistory.patientRegistration.patientId}}</td>
            <td>{{patientHistory.patientAllergyHistory.patientRegistration.emailId}}</td>
            <td>{{patientHistory.patientAllergyHistory.allergy.allergyName}}</td>
            <td>{{patientHistory.patientAllergyHistory.allergy.allergyType}}</td>
            <td>{{patientHistory.patientHospitalHistory.hospital.hospitalName}}</td>
            <td>{{patientHistory.patientHospitalHistory.hospital.hospitalAddress}}</td>
            <td>{{patientHistory.patientHospitalHistory.hospital.hospitalCharges}}</td>
            <td>{{patientHistory.patientDiseaseHistory.disease.diseaseName}}</td>
            <td>{{patientHistory.patientMedicineHistory.medicine.tabletName}}</td>
            <td>{{patientHistory.patientMedicineHistory.medicine.price}}</td>
        </tr>
    </tbody>
</table>
<div class = "text-center">
</div>
