
<html>
    <head>
      <title>Login Form Design</title>
      <link type="text/css" href="login.component.css">
    </head>
    <body>
      <div class ="text-center">
        <div class="loginbox">
          <img src="../../../assets/Login Logo.jfif" width="100px" height="100px" class="user">
          <h1 class="text-center">User Login</h1>
          <!-- <div class="container">
            <h2>Login</h2> -->
            <form  #loginform="ngForm" (ngSubmit)="loginUser()">
              <!-- <small>{{msg}}</small> -->
              <input  type="email" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]="register.emailId" required="email">
              <br>
              <br>
              <input type="password" class="form-control" placeholder="Enter Password" name="password"  [(ngModel)]="register.password" required="password" >
              <br>
              <br>
              <input  [disabled]="loginform.form.invalid"   type="submit" name="" value="Login"> &nbsp;
              <input  type="reset" value="Reset"> &nbsp;
               <!-- <a href="adminLogin">Admin Login</a> -->
              <!-- <input routerLink="adminLogin" type="button" name="AdminLogin" value="AdminLogin"> -->
              <br>
            </form>
          </div>
        </div>
    </body>
    </html>