<p>Welcom To The Admin DashBoard </p>
<div class = "container text-center">
   <a href="admin/hospital"><button type = "submit" mat-raised-button color="warn" > Add Hospital</button></a> 
    <button routerLink="/getAllergy" style = "margin-left:20px;" mat-raised-button color="primary"> Add Allergy</button>
    <button  routerLink="/getDisease" style = "margin-left:20px;"  type = "submit" mat-raised-button color="warn">Add Diaseas</button>
    <button routerLink="/doctor" routerLinkActive="active" style = "margin-left:20px;"mat-raised-button color="primary">Add Doctor</button>
    <button routerLink="/getMedicines" style = "margin-left:20px;"mat-raised-button color="primary">Medicine</button>
    <button routerLink="/getRoomtypes" style = "margin-left:20px;"mat-raised-button color="primary">RoomType</button>
    <button routerLink="/getPatientList" style = "margin-left:20px;"mat-raised-button color="primary">Patient</button>
</div>






