<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

    <div class="wrapper">
 
        <div class="sidebar">
         
        </div>

    </div>
	<div class="profile">
             
            </div>
         <div>   5
			<ul>
                <li>
                     <a href="admin/hospital" class="active"> 
                       
                        <button type = "submit" mat-raised-button color="warn" > Add Hospital</button>
                    </a> 
                </li>
                <br>
                <li>
                    <button routerLink="/getAllergy"  mat-raised-button color="primary"> Add Allergy</button>
                </li>
                <br>
                <li>
                    <button  routerLink="/getDisease"   type = "submit" mat-raised-button color="warn">Add Diaseas</button>
                
                </li>
                <br>
                <li>
                    <button routerLink="/doctor" routerLinkActive="active" mat-raised-button color="primary">Add Doctor</button>

               
                </li>
                <br>
                <li>
                    <button routerLink="/getMedicines" mat-raised-button color="primary">Medicine</button>

                
                </li>
                <br>
                <li>
                    <button routerLink="/getRoomtypes" mat-raised-button color="primary">RoomType</button>

              
                    
                </li>
                <br>
                <li>
                    <button routerLink="/getPatientList" mat-raised-button color="primary">Patient</button>

                </li>
                <br>
                <!-- <li>
                    <button routerLink="/getAdmin" mat-raised-button color="primary">Profile</button>
                </li>
                <br> -->
                <li>
                    <button routerLink="/getPdHistory" mat-raised-button color="primary">PatientDiseaseHistory</button>
                </li>
                <br>
                <li>
                    <button routerLink="/getPmHistory" mat-raised-button color="primary">PatientMedicalHistory</button>
                </li>
                <br>
                <li>
                    <button routerLink="/getPhHistory" mat-raised-button color="primary">PatientHospitalHistory</button>
                </li>
                <br>
                <li>
                    <button routerLink="/getpaHistory" mat-raised-button color="primary">PatientAllergyHistory</button>
                </li>
                <br>
                <li>
                    <button routerLink="/getAllPatientHistory" mat-raised-button color="primary">View All PatientHistory</button>
                </li>
                <br>
                <li>
                    <button routerLink="/getAllPatientDoctorVisit" mat-raised-button color="primary">View All PatientDoctorVisit</button>
                </li>
                <br>
            </ul>
        </div>
       
		<div class="section">
            <div class="top_navbar">
                <div class="hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>

        </div>
  <script>

  </script>
</body>
</html>












<!-- <p>Welcom To The Admin DashBoard </p>
<div class = "container text-center">
   <a href="admin/hospital"><button type = "submit" mat-raised-button color="warn" > Add Hospital</button></a> 
    <button routerLink="/getAllergy" style = "margin-left:20px;" mat-raised-button color="primary"> Add Allergy</button>
    <button  routerLink="/getDisease" style = "margin-left:20px;"  type = "submit" mat-raised-button color="warn">Add Diaseas</button>
    <button routerLink="/doctor" routerLinkActive="active" style = "margin-left:20px;"mat-raised-button color="primary">Add Doctor</button>
    <button routerLink="/getMedicines" style = "margin-left:20px;"mat-raised-button color="primary">Medicine</button>
    <button routerLink="/getRoomtypes" style = "margin-left:20px;"mat-raised-button color="primary">RoomType</button>
    <button routerLink="/getPatientList" style = "margin-left:20px;"mat-raised-button color="primary">Patient</button>
    <button routerLink="/getAdmin" style = "margin-left:20px;"mat-raised-button color="primary">Profile</button>
</div> -->