<h1 class = "text-center">Patient Disease Details</h1>
<table class="table">
    <thead>
        <tr>
            <th style="width: 10%"> pdhId</th>
            <th style="width: 20%"> seviretyOfDisease</th>
            <th style="width: 30%">patient first name</th>
            <th style="width: 30%">patient last name</th>
            <th style="width: 20%">diseaseId</th>
            <th style="width: 20%">DiseaseName</th>

            <!-- <th><button [routerLink]="'/addHospital'" routerLinkActive="active" type = "submit" mat-raised-button color="warn">Add</button></th> -->
         </tr>
     </thead>
    <tbody>
         <tr *ngFor="let pd of pd">
            <td>{{pd.pdhId}}</td>
            <td>{{pd.seviretyOfDisease}}</td>
            <td>{{pd.patientRegistration.patientFirstName}}</td>
            <td>{{pd.patientRegistration.patientLastName}}</td>
            <td>{{pd.disease.diseaseId}}</td>
            <td>{{pd.disease.diseaseName}}</td>
            <!-- <td><button  routerLink="/editHospital/{{hospital.hospitalId}}" routerLinkActive="Active" class="text-center" type = "button" mat-raised-button color="warn">Edit</button></td>
            <td><button (click)="delete(hospital.hospitalId)" class="text-center" type = "submit" mat-raised-button color="warn">Delete</button></td> -->
        </tr> 
    </tbody>
</table>
<div class = "text-center">
</div> 
