<<div class = "bootstrap-wrapper">
    <div class ="container">
        <div class ="row">
            <div class = "col-md-6 offset-md-3" class="container text-center">
            <div>
              <img src = "../../../assets/Login Logo.jfif" alt="loading..." width="100" height="100"/>
            </div>
                <h1 class = "text-center">Doctor</h1>
            
                 <mat-card>
                <form (ngSubmit)="formSubmit()">
                    <br>
                    <br>
                    <mat-form-field  class = "full-width"appearance="outline">
                        <mat-label>adminName</mat-label>
                        <input required 
                        [(ngModel)] = "admin.adminName" name="adminName"
                        matInput placeholder="adminName*"> 
                    </mat-form-field>
                    <br>
                    <mat-form-field  class = "full-width"appearance="outline">
                        <mat-label>userPassword</mat-label>
                        <input required 
                        [(ngModel)] = "admin.userPassword" name="userPassword"
                        matInput placeholder="userPassword*"> 
                    </mat-form-field>
                    <br>
                    <mat-form-field  class = "full-width"appearance="outline">
                        <mat-label>adminRole</mat-label>
                        <input required 
                        [(ngModel)] = "admin.adminRole" name="adminRole"
                        matInput placeholder="adminRole*"> 
                    </mat-form-field>
                    <br>
                      <div class = "container text-center">
                          <button type = "submit" mat-raised-button color="warn">Add</button>
                                                     &nbsp;&nbsp;
                          <button type="reset" mat-raised-button color="warn"   value="Reset">Reset</button>
                        </div>   
                </form>
              </mat-card>
        </div>
    </div>
</div>  
