<p>disease works!</p>
<table class="table">
    <thead>
        <tr>
            <th style="width: 10%"> Disease Id </th>
            <th style="width: 20%"> Disease Name </th>
            <th><button [routerLink]="'/addDisease'" routerLinkActive="active" type = "submit" mat-raised-button color="warn">Add</button></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let disease of diseases">
            <td>{{disease.diseaseId}}</td>
            <td>{{disease.diseaseName}}</td>
            <td><button  routerLink="/editDisease/{{disease.diseaseId}}" routerLinkActive="Active" class="text-center" type = "button" mat-raised-button color="warn">Edit</button></td> 
            <td><button (click)="deleteDisease(disease.diseaseId)" class="text-center" type = "submit" mat-raised-button color="warn">Delete</button></td>
        </tr>
    </tbody>
</table>

