<mat-toolbar class = "text" color="primary">
<a 
routerLink="/"
mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
>
 <mat-icon>home</mat-icon>
</a>

  <span class="home text-left" >OPHS</span>
  <span class="example-spacer"></span>
  <!-- <div class = "container text-center"> -->
    <!-- <a href="admin/hospital"><button type = "submit"  >Hospital Registration</button></a>  -->

    <!-- <a [routerLink]="'/admin/hospital'" 
    mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Hospital</a>

     <a [routerLink]="'/allergy'" 
      mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Allergy</a>

     <a [routerLink]="'/diaseas'" 
      mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Diaseas</a>

      <a [routerLink]="'/doctor'"  routerLinkActive="active"
      mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Doctor</a> -->

      
     <!-- <a routerLink="/doctor" routerLinkActive="active" style = "margin-left:20px;">Doctor</a> -->
     <!-- <a [routerLink]="'/doctor'"  routerLinkActive="active" style="margin: left 23px;"
      mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Patient Registration</a> -->
  <a 
  [routerLink]="'/login'"
  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Login 
  </a>

  <a 
  [routerLink]="'/addPatient'"
  mat-icon-button class="example-icon" maria-label="Example icon-button with share icon">
   Register 
</a>

<a 
  [routerLink]="'/addPatient'"
  mat-icon-button class="example-icon" maria-label="Example icon-button with share icon">
   Logout 
</a>
</mat-toolbar>
