.example-spacer
{
    flex:1 1 auto;
}

.text
{
    text-emphasis-color: white;
    float: left;
}

.example-icon
{
    margin-left: 13px;
    margin-right: 20px;
}
.example-icon favorite-icon
{
    color: white;
}