<mat-toolbar class = "text" color="primary">
<a 
routerLink="/"
mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
>
 <mat-icon>home</mat-icon>
</a>
  <span class="home text-left" >OPHS</span>
  <span class="example-spacer"></span>
  <a 
  [routerLink]="'/addPatient'"
  mat-icon-button class="example-icon" maria-label="Example icon-button with share icon">
   Register 
</a>

<a 
  [routerLink]="'/login'"
  mat-icon-button class="example-icon" maria-label="Example icon-button with share icon">
   Login 
</a>

<a 
  [routerLink]="'/login'"
  mat-icon-button class="example-icon" maria-label="Example icon-button with share icon">
   Logout 
</a>
</mat-toolbar>
