<p>allergy works!</p>
<table class="table">
    <thead>
        <tr>
            <th style="width: 10%">Admin Id </th>
            <th style="width: 20%"> Admin Name </th>
            <th style="width: 20%"> Admin Password </th>
            <th style="width: 20%"> Admin Role </th>
            <!-- <th><button [routerLink]="'/addAdmin'" routerLinkActive="active" type = "submit" mat-raised-button color="warn">Add</button></th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let admin of admin">
            <td>{{admin.adminId}}</td>
            <td>{{admin.adminName}}</td>
            <td>{{admin.userPassword}}</td>
            <td>{{admin.adminRole}}</td>
            <td><button  routerLink="/editAdmin/{{admin.adminId}}" routerLinkActive="Active" class="text-center" type = "button" mat-raised-button color="warn">Edit</button></td> 
            <!-- <td><button (click)=" deleteAllergy(admin.adminId)" class="text-center" type = "submit" mat-raised-button color="warn">Delete</button></td> -->
        </tr>
    </tbody>
</table>
